@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: "Oswald", sans-serif;
    margin: 0;
}

.main{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: .5s;
}

svg{
    width: 30px;
    height: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.OptionSnack .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.OptionSnack{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.OptionSnack .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.OptionSnack .item h2{
    font-weight: 500;
    font-size: large;
}

.OptionSnack .item .price{
    letter-spacing: 4px;
    font-size: small;
}

.OptionSnack .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

body.showCart .container{
    transform: translateX(-250px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: blue;
    border: none;
    font-family: Oswald;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: #eee;
}

.cartTab .btn a{
    color: white;
}


.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart  .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

@media screen and (max-width: 992px) {
    .OptionSnack{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .OptionSnack{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Checkout Page */

.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.checkoutLayout .right{
    background-color: blue;
    border-radius: 20px;
    padding: 40px;
    color: white;
}

.checkoutLayout .list img{
    height: 70px;
}

.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid lightblue;
    padding-bottom: 20px;
}

.checkoutLayout .form .group:nth-child(-n +3){
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: darkblue;
    color: white;
}

.checkoutLayout .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkoutLayout .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}

.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: lightblue;
}

.returnCart h1{
    border-top: 1px solid white;
    padding: 20px 0;
}

.returnCart .list .item img{
    height: 80px;
}

.returnCart .item{
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 19px;
    box-shadow: 0 10px 20px #555;
    border-radius: 20px;
}

.returnCart .item .name,
.returnCart .item .returnPrice{
    font-size: x-large;
    font-weight: bold;
}